$bold: 'archivobold';
$medium: 'archivomedium';

@font-face {
    font-family: 'archivobold';
    src: url('../assets/fonts/archivo-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/archivo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivobold_italic';
    src: url('../assets/fonts/archivo-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/archivo-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivoitalic';
    src: url('../assets/fonts/archivo-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/archivo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivomedium';
    src: url('../assets/fonts/archivo-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/archivo-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivomedium_italic';
    src: url('../assets/fonts/archivo-mediumitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/archivo-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivoregular';
    src: url('../assets/fonts/archivo-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/archivo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivosemibold';
    src: url('../assets/fonts/archivo-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/archivo-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivosemibold_italic';
    src: url('../assets/fonts/archivo-semibolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/archivo-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
