.top-line {
  display: block;
  width: 2.5em;
  height: 0.325em;
  border-top: 0.225em solid #EE5F20;
}
.bottom-line {
  display: block;
  margin-top: 0.5em;
  width: 1.5em;
  height: 0.325em;
  border-top: 0.225em solid #EE5F20;
}
