.mobile-header {
  align-items: center;
  text-align: center;
  margin-left: 3.438em;
  margin-right: 3.438em;
}
.mobile-logo img {
  margin-top: 3.25em;
  width: 13.5em;
  height: 2.007em;
  justify-content: space-around;

}
.menu-icon {
  margin-top: 3.25em;
  float: right;
  justify-content: space-around;
}
